/* EquipmentPage.module.scss */

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Align items to the left
  min-height: calc(100vh - 160px); // Ensure the container takes full height minus header/footer
}

.title {
  margin-bottom: 0; // Remove bottom margin if any
}

.productsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 20px; // Add a gap between the title and the products grid
}

.productsGrid p {
  flex: 1 100%;
}
