// SearchForm.module.scss

.searchFormContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 10px;
  }
  
  .searchInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  .searchButton {
    padding: 10px 20px;
    margin-left: 10px;
  }
  
  .closeButton {
    padding: 10px;
    margin-left: 10px;
  }
  