// NavBar.module.scss

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  background-color: #f9f9f9;
  border-bottom: 2px solid black;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: #333;
  margin-right: 30px;

}

.navLinks {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;

  &:visited {
    color: black;
  }

  &:hover {
    color: red;
    transition: color 0.3s ease;
  }

  &_active {
    color: red;
    text-decoration: underline;

    &:visited {
      color: red;
    }

    &:hover {
      color: darkred;
      transition: color 0.3s ease;
    }
  }
}

.icons {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 20px;
  color: black;

  &:hover {
    color: red;
    transition: color 0.3s ease;
  }
}
