// SingleProduct.module.scss

.container {
    display: flex;
    width: 1000px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    font-family: Arial, sans-serif;
}

.imgCard {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
}

.imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageStyle {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1; /* Ensure the image is square */
}

.textCard {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newPrice {
    font-size: 1.5em;
    color: #e60023;
}

.sizeOptions {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sizeSelect {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.buttonGroup {
    display: flex;
    justify-content: space-evenly;
}

.backButton {
    background-color: black;
    color: white;
    border: none; /* Remove border */
    height: 50px;
    width: 225px;
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase text */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    border-radius: 5px;






    &:hover {
        background-color: #333;
    }
}

.favoriteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
